COMPOSE_PROJECT_NAME=keepgoing-test
TEST_APP_PORT=8082
APP_IMAGE=ghcr.io/keepgoing-web/keepgoing-be-api
APP_IMAGE_TAG=latest
WORKER_IMAGE=ghcr.io/keepgoing-web/keepgoing-be-worker
WORKER_IMAGE_TAG=latest
